a:hover {
    color: #0056b3;
    text-decoration: none;
}
.bg-primary{
    background-color:rgb(35,79,178)!important;
}
.bg-secondary{
    background-color: rgb(235,235,235)!important;
}
.hidden{
    display: none;
}