@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Raleway:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eaebef;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
}

.list{
    width: 100%;
}


















