/* ----------------------- Generales ----------------------- */
/* Orden recomendado  */
html {
    /* No modifica el tamaño de los elementos*/
    box-sizing: border-box;
    /* 1REM = 10 PX */
    font-size: 62.5%;
}

*,
*::before,
a::after {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* ----------------------- Globales ----------------------- */
h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    width: 100%;
}

.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

/* ----------------------- Utilidades ----------------------- */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

/* ----------------------- Header y Navegacion ----------------------- */
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border: .1rem solid #e1e1e1;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* ----------------------- Categorias ----------------------- */
.categorias {
    padding: 5rem 0;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-radius: 2rem 0 2rem;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}



/* ----------------------- Bloque Nosotros ----------------------- */
.sobre-nosotros {
    background-image: linear-gradient(to right,
            transparent 50%,
            #037bc0 50%,
            #037bc0 100%),
        url(../img/nosotros.jpg);
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #ffffff;
}

/* ----------------------- Listado de productos ----------------------- */
.contenido-principal {
    padding: 5rem;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    /*grid-column: 1 / 7; es lo mismo*/
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img,
.producto:nth-child(4) img,
.producto:nth-child(5) img,
.producto:nth-child(6) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #ffffff;
    padding: 4rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/* -----------------------  FOOTER ----------------------- */
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: 0.5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
    background-color: red;
}

/* ----------------------- NOSOTROS -----------------------*/
.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

/* ----------------------- BLOG -----------------------*/
.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada h2 {
    text-align: center;
}

.contenido-blog {
    padding: 2rem;
}

.entrada:last-of-type {
    border: none;
}

.entrada-meta {
    display: flex;
    justify-content: space-between;
}

.entrada-meta p {
    font-weight: bold;
}

.entrada-meta span {
    color: #037bc0;
}

.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
}

/* ----------------------- Galeria -----------------------*/
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}



/* ----------------------- Formulario -----------------------*/
.formulario {
    max-width: 60rem;
    margin: 0;
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: #037bc0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
}

.campo input[type="text"] {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
} 