
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/estilos.css">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <!-- Equal width cols, same on all screen sizes -->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group col-md-2">
                                <label for="inputState">Semestre:</label>
                                <select id="inputState" class="form-control">
                                    <option selected>20231</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">

                        <div class="p-2 ">
                            Presione este boton solo cuando tenga que registrar su entrada y su salida de clase <br>
                            <br>
                            Hora: 12:24:46 <button type="button" class="btn btn-success">MARCAR MI ASISTENCIA: ENTRADA /
                                SALIDA</button> ayuda <i class="bi bi-info-circle"></i> <br><br>

                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning">TOMAR ASISTENCIA DE ALUMNOS</button><br>

                                <button type="button" class="btn btn-primary">SOLICITAR RECUPERACION /
                                    JUSTIFICACION</button><br>
                            </div>

                        </div>


                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="p-2"><button type="button" class="btn btn-primary">P.PUNTUAL</button></div>
                        <div class="p-2"><button type="button" class="btn btn-primary">T.TARDANZA (MIN)</button></div>
                        <div class="p-2"><button type="button" class="btn btn-primary">F.FALTA</button></div>
                        <div class="p-2"><button type="button" class="btn btn-primary">N.N : N.N</button></div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="p-2"><button type="button" class="btn btn-primary">REPORTE</button></div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            JULIO 2023
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        . . .
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn  collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            JUNIO 2023
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        . . .
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            MAYO 2023
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        . . .
                    </div>
                </div>
            </div>
        </div>
    </div>







<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="./js/menu.js"></script>

